*.o
*.la
*.lo
*.so
moc_*.cpp
*.dll
.libs
Makefile
Makefile.in
aclocal.m4
autom4te.cache
compile
config.guess
config.log
config.status
config.sub
configure
depcomp
install-sh
libtool
ltmain.sh
missing
.deps/
.dirstamp
WibblyWobbly.config
WibblyWobbly.creator
WibblyWobbly.creator.user
WibblyWobbly.files
WibblyWobbly.includes
releases/
*.html
*.json
wibbly
wobbly
